.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
  @include tablet {
    justify-content: center;
    gap: 1rem;
  }
}
